@charset "utf-8";

.navbar-default .navbar-nav>li>a {
  padding: 20px;
	color: #fff;
	
}
.nav a {display:inline-block;
	-webkit-font-smoothing:antialiased;
	text-align:center;
	font-family:"oswald",serif;
	font-size:1.2rem;
	font-weight: bold;
	text-transform:uppercase;
	text-decoration: none;
	letter-spacing:.2rem;
	color: #fff;
}

.nav .btn {
	margin-left: 20px;
	margin-bottom: 2px;
	border-radius: 50px;
}

.navbar-right {
  padding-right: 0%;
}

.navbar-default {
	background: rgba(0,46,70, 0.25) !important;
  height: 100px !important;
padding: 20px;
	color: #fff;
}

.navbar-default .navbar-nav > li > a,
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 60px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #9D0A0E;
	padding: 0px 20px;
	
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #9D0A0E;
    background-color: transparent;
}

.navbar {
	height: 100px !important;
	background: #ffffff;
	border-radius: 0px;
	margin-bottom: 0px;
	border-bottom: thin solid rgba(255, 255, 255, 0.15);
	color: #fff;
	
}
.navbar-nav { -webkit-backface-visibility: hidden; }

.navbar-left {
  	padding: 12px 0px;
	background: #fff;
	height: 300px;
	margin-top: -100px;
	border-radius: 0px 0px 20px 20px;
}

.navbar-left img {
	margin: 75px 20px 20px;
	max-width:  200px;	
}

.nav-collapse {
  margin-left: 1em;
}

.navbar-header {
	height: 100px;
}

.dropdown-menu {
	width: 100%;
	padding-top: 16px;
	padding-bottom: 16px;
	border: thin solid rgba(0, 0, 0, 0.15);
	background: rgba(255,255,255,0.85);
}
.dropdown-menu > li > a {
    display:inline-block;
	font-weight: bold;
	color: #9D0A0E !important;
}

 .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
            background-image:none !important;
 }
 .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
            background-color:transparent;
	 		text-decoration: underline;
 }
.dropdown-menu .divider {
  height: 1px;
  margin: 14px 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.25);
}

nav.navbar.open {
  margin-bottom: 120px;
}

.nav-pills {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-radius: 0;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	color: white;
	background-color: #9D0A0E;
	border-radius: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-bottom: none;
}
.nav-pills > li > a:hover {
	color: #ffffff;
	background-color: rgba(255,255,255, 0.0);
	border-bottom: thick solid #9D0A0E;
	border-radius: 0px;
}
.home-news-header, .department-news-header, .sidebar-header {
	color: #335576 !important;
	border-bottom: 2px solid #695e4a;
	padding-bottom: 10px;
}
.home-news-header > a, .department-news-header > a, .sidebar-header > a {
	color: #335576 !important;
}
.home-news-header span.archive-link a, .department-news-header span.archive-link a, .home-news-header span.archive-link span a, .department-news-header span.archive-link span a {
	color: #335576 !important;
}
.header-search i {
	font-size: 20px;
}

.header-search-span {
	float: right;
	width: 200px;
	display: inline-block;
	margin-top: 15px;
}
.header-search {
	width: 200px;
	position: relative;
	float: left;
}
.header-search input {
	position: absolute;
	width: 0px;
	float: Left;
	margin-left: 210px;
	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;
	border-radius: 0;
	padding: 0 15px 0 2px;
	background: transparent;
	border: 0;
	box-shadow: none;
}
.header-search:hover input, .header-search input:focus {
	width: 200px;
	margin-left: 0px;
	color: #27323D;
	font-weight: normal;
	background: rgba(255, 255, 255,.8);
}
 .header-search input::placeholder {
 color: #9D0A0E;
 font-weight: normal;
}
.btn-srch {
	position: absolute;
	right: 0;
	top: 4px;
	border: 0;
	background: transparent;
}
header {
	background: #002E46;
	position: relative;
	width: 100%;
	color: #fff;
	text-align: right;
	padding: 10px 0 10px 0;
	z-index: 1;	
}
.header li {
	display: inline;
	text-align: right;
}
.header a {
	color: #fff;
	text-decoration: none;
	font-weight: 300;
}

@media  (max-width: 1500px) {

	.nav a {display:inline-block;
	-webkit-font-smoothing:antialiased;
	text-align:center;
	font-family:"oswald",serif;
	font-size:1rem;
	font-weight: bold;
	text-transform:uppercase;
	text-decoration: none;
	letter-spacing:.2rem;
	color: #fff;
}
	
	.navbar-left {
  	padding: 12px 0px;
	background: #fff;
	height: 225px;
	margin-top: -100px;
	border-radius: 0px 0px 20px 20px;
}
	.navbar-left img {
	margin: 50px 20px 20px;
	max-width:  150px;	
}
	
	.header-search i {
	font-size: 15px;
}

.header-search-span {
	float: right;
	width: 100px;
	display: inline-block;
	margin-top: 15px;
}
.header-search {
	width: 100px;
	position: relative;
	float: left;
}
.header-search input {
	position: absolute;
	width: 0px;
	float: Left;
	margin-left: 110px;
	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;
	border-radius: 0;
	padding: 0 15px 0 2px;
	background: transparent;
	border: 0;
	box-shadow: none;
}
.header-search:hover input, .header-search input:focus {
	width: 100px;
	margin-left: 0px;
	color: #27323D;
	font-weight: normal;
	background: rgba(255, 255, 255,.8);
}
 .header-search input::placeholder {
 color: #9D0A0E;
 font-weight: normal;
}
.btn-srch {
	position: absolute;
	right: 0;
	top: 4px;
	border: 0;
	background: transparent;
}
	
}

@media  (max-width: 1200px) {
	
	.navbar-toggle {
	border: none;
	background: transparent !important;
}

.navbar-toggle:hover {
	background: transparent !important;
}

.navbar-toggle .icon-bar {
	width: 22px;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

/* ANIMATED X */
.navbar-toggle.x .icon-bar:nth-of-type(1) {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 10% 10%;
	-ms-transform-origin: 10% 10%;
	transform-origin: 10% 10%;
}

.navbar-toggle.x .icon-bar:nth-of-type(2) {
	opacity: 0;
	filter: alpha(opacity=0);
}

.navbar-toggle.x .icon-bar:nth-of-type(3) {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 10% 90%;
	-ms-transform-origin: 10% 90%;
	transform-origin: 10% 90%;
}

/* ANIMATED X COLLAPSED */
.navbar-toggle.x.collapsed .icon-bar:nth-of-type(1) {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}

.navbar-toggle.x.collapsed .icon-bar:nth-of-type(2) {
	opacity: 1;
	filter: alpha(opacity=100);
}

.navbar-toggle.x.collapsed .icon-bar:nth-of-type(3) {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}
/* END ANIMATED X */

/* FORCE NAVBAR-TOGGLE */


.navbar-toggle {
	display: block;
}

.navbar-collapse {
	border-top: 1px solid transparent;
	background: #002E46;
	position: absolute;
  top: 0;
  right: 0;
  left: 0;
	min-width: 100%;
  min-height: 100vh;
	margin-top: 100px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	z-index: 9999;
}
	
.navbar-default {
	background: rgba(255,255,255, .5) !important;
  height: 100px;
	min-height: 100px;
padding: 20px;
	color: #002E46;
}

.navbar-collapse.collapse {
	display: none !important;
}

.navbar-nav > li {
	float: none;
}

.navbar-nav > li > a {
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar-collapse.collapse.in {
	display: block !important;
}
.navbar-header {
	float: none;
	overflow: visible;
}
.navbar-right {
  padding-right: 0;
}
.nav .btn {
	margin-bottom: 20px;
	border-radius: 50px;
}
	.dropdown-menu {
	padding-top: 20px;
	width: 100%;
	margin: auto 0;
}
.dropdown-menu > li > a {
    display:block;
	width: 100%;
	clear: both;
    
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #002E46;
}

.navbar-right {
	float: none !important;
}
.navbar-toggle {
	display: block;
	margin-top: 12px;
}

.navbar-collapse.collapse {
	display: none!important;
}
.navbar-nav {
	float: none!important;
	margin-top: 0px;

}
.navbar-nav>li {
	float: none;
}
.navbar-nav>li>a {
	padding-top: 20px;
	padding-bottom: 20px;
}
.collapse.in {
	display: block !important;
}
	nav.navbar.open {
  margin-bottom: 0px;
}

.navbar-default .navbar-nav > li > a,
.navbar-brand {
  padding: 0;
  margin: auto 0;
  line-height: 60px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #9D0A0E;
    background-color: transparent;
}
	
	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus {
   border-bottom: thin solid #fff;
   margin: -10px 0px;
}

#homebtn {
   padding-top: 10px;
}
	
.navbar {
	color: #27323D;
	
}
	.nav-pills li {
		width: 100%;
		color: #9D0A0E;
	}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	color: #27323D;
	background-color: #9D0A0E;
	border-radius: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-bottom: none;
}
.nav-pills > li > a{
	color: #9D0A0E ;
	background-color: rgba(255,255,255, 0.0);
	border-bottom: thin solid #fff;
	border-radius: 0px;
}
	.nav-pills > li > a:hover{
	background-color: rgba(255,255,255, 0.0);
	border-bottom: thin solid #9D0A0E;
	border-radius: 0px;
}
	.nav-pills > li > a:active{
	color: #fff !important;
}	

.header-search  {
	display: none;
}

}

@media  (max-width: 768px) {
	.navbar-default {
	background: rgba(255,255,255, 1) !important;
  height: 100px;
padding: 20px;
	color: #002E46;
}
.navbar-left {
  	padding: 12px 0px;
	background: transparent;
	height: 100px;
}

.navbar-left img {
	margin: 0px 20px 0px;
	max-height: 60px;
	max-width: 75px;
}
	header {
		text-align: center !important;
		padding: 25px 50px;
	}
}

@media  (max-width: 320px) {

	.dropdown-menu .divider {
  height: 1px;
  margin: 14px 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
}
}
